<% provide(:title, @book.name) %>
<div class="row">
  <bookside class="col-md-4">
    <section class="book_info">
      <h1>
        <%= @book.name %>
      </h1>
      <%= @book.url %>
      <!-- @book.body returns manifestjson!! -->
      <%= javascript_include_tag "openseadragon" %>
      <%# javascript_path "get_manifest_uri"%>  <!--this will receive the ManifestJson -->
      <%= render 'shared/comment_form', book: @book %>
    </section>
  </bookside>
  <div class="col-md-8">
    <% if @book.comments.any? %>
      <h3>comments (<%= @book.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
