<% provide(:title, @book.name) %>
<div class="row">
  <bookside class="col-md-6">
    <section class="book_info">
      <h1>
        <%= @book.name %>
      </h1>
      <%= openseadragon_picture_tag @book.tile %>      
      <%= render 'shared/comment_form', book: @book %>
    </section>
  </bookside>
  <div class="col-md-6">
    <% if @book.comments.any? %>
      <h3>comments (<%= @book.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
